* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: lightgray;
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.modal input {
  padding: 4px;
  width: 20%;
  background-color: transparent;
  border: 1px solid gray;
  transition: 0.5s;
}

.modal input:hover {
  margin-top: 8px;
  transform: scale(1.5);
}

.modal input:hover + button {
  margin-left: 90px;
}

.modal button {
  padding: 5px;
  width: 4%;
  background-color: #FB773C;
  border: none;
  border-radius: 4px;
}

.task-container {
  width: 80%;
  margin: 10px auto;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 5px;
  height: 450px;
  overflow-y: scroll;
  background-color: #FFF;
  border-radius: 4px ;
}
.task-container::-webkit-scrollbar {
  display: none;
}

.task-header {
  width: 80%;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 30px;
}

h1 {
  color: #6e6560;
}

.task-container .todo {
  border: 1px solid #FB773C;
  margin: 10px 5px;
  padding: 10px;
  border-radius: 8px;
}

